@font-face {
  font-display: swap; 
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/inter-regular.woff2') format('woff2'),
      url('../assets/fonts/inter-regular.ttf') format('truetype'),
      url('../assets/fonts/inter-regular.otf') format('opentype');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/inter-semibold.woff2') format('woff2'),
      url('../assets/fonts/inter-semibold.ttf') format('truetype'),
      url('../assets/fonts/inter-semibold.otf') format('opentype');
}

@font-face {
  font-display: swap; 
  font-family: 'Inter';
  font-style: italic;
  font-weight: 600;
  src: url('../assets/fonts/inter-semibolditalic.woff2') format('woff2'),
      url('../assets/fonts/inter-semibolditalic.ttf') format('truetype'),
      url('../assets/fonts/inter-semibolditalic.otf') format('opentype');
}


body {
  @extend %set-font;
  color: $color-text-dark;
}

h1{
  font-size: 72px;
  font-weight: 600;
  line-height: 106%
}

h2{
  font-size: 60px;
  font-weight: 600;
  line-height: 123%;
}

.title-oblique{
  font-style: italic;
  color: $color-text-accent;
}

.main__paragraph{
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

a{
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

::selection {
  color: #0C0C0E;
  background: $color-text-accent;
}