.winner {
  display: grid;
  grid-template-columns: minmax(20px, 50px) minmax(70px, 170px) minmax(100px, 250px) 70px 70px;
  align-items: center;
  border-top: 1px var(--color-container) solid;
}

.winner__image {
  width: 90px;
  height: 40px;
  stroke: #000000;
  justify-self: center;
}

.winner__number {
  display: flex;
  justify-content: center;
}

.winner__name {
  display: flex;
  justify-content: center;
  text-align: center;
}

.winner__image {
  display: flex;
  justify-content: center;
}

.winner__wins {
  display: flex;
  justify-content: center;
}

.winner__time {
  display: flex;
  justify-content: center;
}

@media (width <= 520px) {
  .winner__image {
    width: 70px;
    height: 30px;
    justify-self: center;
  }
}
