$color-body-dark: #191627ff;
$color-container-dark: #271033;
$color-container-light: #371A45;
$color-border-dark: #3D234A;
$color-border-light: #7d6e84;
$color-text-highlight: #ffed00ff;
$color-text-light: #f4f5f5ff;
$color-button: #a9a6c9ff;
$color-text-error: rgb(255, 182, 165);
$color-button-correct: #78E3CE;
$color-text-correct: rgb(136, 255, 231);