.playboard__hint-audio-toggler,
.playboard__hint-audio-button {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}

.playboard__hint-audio-button {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
  align-items: center;
  padding: 5px;
  padding-left: 6px;
}

.playboard__audio-hint-icon-1,
.playboard__audio-hint-icon-2 {
  grid-area: 1 / 1 / 2 / 2;
  width: 100%;
  height: 100%;
  fill: var(--color-text-light);
  transition: 0.5s;
}

.playboard__hint-audio-toggler {
  padding: 5px;
}

.playboard__hint-toggler-icon {
  transition: 0.5s;
  width: 100%;
}

@media (hover: hover) and (pointer: fine) {
  .playboard__hint-audio-button:hover .playboard__audio-hint-icon-1,
  .playboard__hint-audio-button:hover .playboard__audio-hint-icon-2,
  .playboard__hint-audio-toggler:hover .playboard__hint-toggler-icon {
    fill: var(--color-label-dark);
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
    transform: scaleY(1);
  }
  20% {
    opacity: 0.5;
    transform: scaleY(0.7);
  }
  40% {
    opacity: 0.3;
    transform: scaleY(0.5);
  }
  60% {
    opacity: 0.5;
    transform: scaleY(0.9);
  }
  80% {
    opacity: 1;
    transform: scaleY(1.1);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
.playboard__hint-audio-button_active {
  pointer-events: none;
  background-color: var(--color-highlight);
}

.playboard__hint-audio-button_hide {
  pointer-events: none;
  opacity: 0;
}

.playboard__hint-audio-button_active .playboard__audio-hint-icon-1 {
  animation: pulse 1.5s linear 1s alternate infinite;
  fill: var(--color-label-dark);
}

.playboard__hint-audio-button_active .playboard__audio-hint-icon-2 {
  animation: pulse 1.5s linear alternate infinite;
  fill: var(--color-label-dark);
}

.playboard__hint-audio-toggler_active {
  background-color: var(--color-highlight);
}

.playboard__hint-audio-toggler_active .playboard__hint-toggler-icon {
  fill: var(--color-label-dark);
}
