.header {
  width: 100%;
  display: flex;
  z-index: 2;
}

.header__logo {
  font-weight: 900;
  font-size: 50px;
  flex-grow: 1;
  text-align: center;
  margin: 0;
}

.header__container {
  max-width: 1024px;
  padding: 10px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.header__button {
  background-color: var(--color-label-light);
  border: none;
  display: flex;
  flex-grow: 0;
  max-height: 40px;
  padding: 10px;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  cursor: pointer;
}

.body-login .header__button {
  display: none;
}
