$color-background-light: #B4BBF9;
$color-text-lightmode: #3C486B;
$color-text-darkmode: #F0F0F0;
$color-container-lightmode: #F0F0F0;
$color-background-dark: #343F5B;
$color-container-darkmode: #3C486B;
$color-button-darkmode: #676C99;
$color-toggler-darkmode: #686A79;
$color-toggler-lightmode: #C5C6C8;
$color-cell-dark: #1B1B1E;
