.overlay {
  position: fixed;
  z-index: 10;
  width:100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: rgba(0,0,0,0.5);
  animation: fade-in 0.3s ease;
}

.modal {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  background-color: $color-container-lightmode;
  border-radius: 10px;
  &_win{
    width: 100%;
    max-width: 300px;
    .modal__body {
      align-items: center;
      padding-bottom: 20px;
    }
  }
  &_select{
    height: 100vh;
    max-height: 420px;
    .modal__body{
      overflow: auto;
    }
  }
}

.dark-mode{
  .modal{
    background-color: $color-container-darkmode;
  }
  .modal__close {
    span{
      background-color: $color-background-light;
    }
  }
}

.modal__header {
  position: relative;
  display: flex;
  align-items: center;
  width:100%;
}

.modal__title {
  padding: 10px;
  text-align: center;
  font-family: Montserrat;
  font-weight: 900;
  flex-grow: 1;
}

.modal__close {
  position: absolute;
  right:0;
  top:0;
  width: 50px;
  aspect-ratio: 1 / 1;
  span{
    position: absolute;
    top:50%;
    left: calc(50% - 10px);
    width: 20px;
    height: 2px;
    background-color: $color-text-lightmode;
    border-radius: 1px;
    transition: 0.5s;
  }
  span:nth-child(1){
    transform: rotate(45deg);
  }
  span:nth-child(2) {
    transform: rotate(-45deg);
  }
  &:hover span {
    @media (pointer: fine) and (hover: hover) {
      opacity: 0.7;
    }
  }
}

.modal__body {
  display: flex;
  flex-direction: column;
  gap:20px;
  padding: 20px;
}

.modal__body::-webkit-scrollbar {
  width: 4px;
}

.modal__text{
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }  
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }  
  100% {
    opacity: 0;
  }
}

.fade-out{
  pointer-events: none;
  animation: fade-out 0.3s ease forwards;
}

.modal__miniature{
  display: grid;
  grid-auto-rows: 1fr;
  grid-auto-flow: row;
  aspect-ratio: 1 / 1;
  width: 100px;
}

.modal__miniature-row{
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
}

.dark{
  background-color: $color-cell-dark;
}

.dark-mode{
  .dark{
    background-color: $color-background-light;
  }
}