.nonogram{
  background-color: $color-text-darkmode;
  padding: 10px;
  border-radius: 10px;
}

.dark-mode {
  .nonogram{
    background-color: $color-button-darkmode;
  }
 
}

.nonogram__container{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  min-width: 350px;
  aspect-ratio: 1 / 1;
}

.nonogram__clues-x-cont{
  grid-area: 1 / 2 / 2 / 3;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  .clues{
    display: flex;
    flex-direction: column;
    gap:3px;
    align-items: center;
    justify-content: end;
    padding-bottom: 10px;
    border-right: 1px solid $color-cell-dark;
  }

  .clues:nth-child(5n + 5){
    border-right: 3px solid $color-cell-dark;
  }
  .clues:first-child{
    border-left: 3px solid $color-cell-dark;
  }
}

.nonogram__clues-y-cont{
  grid-area: 2 / 1 / 3 / 2;
  display: grid;
  grid-auto-rows: 1fr;
  grid-auto-flow: row;
  .clues{
    display: flex;
    gap:7px;
    align-items: center;
    justify-content: end;
    padding-right: 10px;
    border-bottom: 1px solid $color-cell-dark;
  }
  .clues:nth-child(5n + 5){
    border-bottom: 3px solid $color-cell-dark;
  }
  .clues:first-child{
    border-top: 3px solid $color-cell-dark;
  }
}

.nonogram__field-cont{
  grid-area: 2 / 2 / 3 / 3;
  display: grid;
  grid-auto-rows: 1fr;
  grid-auto-flow: row;
}

.clue {
  color: $color-cell-dark;
}

.row{
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  border-bottom: 1px $color-cell-dark solid;
}

.row:nth-child(5){
  border-bottom: 3px $color-cell-dark solid;
}

.cell{
  display: block;
  flex-grow: 1;
  background-color: transparent;
  outline: none;
  border-right: 1px $color-cell-dark solid;
}

.row:nth-child(5n + 5){
  border-bottom: 3px $color-cell-dark solid;
}

.row:first-child{
  border-top: 3px $color-cell-dark solid;
}

.cell:nth-child(5n + 5){
  border-right: 3px $color-cell-dark solid;
}

.cell:first-child{
  border-left: 3px $color-cell-dark solid;
}

.cell.black{
  background-color: $color-cell-dark;
}

.cell.cross{
  position: relative;
  &::after,
  &::before{
    content: '';
    width: 100%;
    height: 1px;
    background-color: $color-cell-dark;
    position: absolute;
    top:50%;
  }
  &::after{
    transform: rotate(45deg);
  }
  &::before{
    transform: rotate(-45deg);
  }
}
