.nonogram{
  background-color: $color-text-darkmode;
  padding: 10px;
  border-radius: 10px;
  min-width: 410px;
  @media (width <= 500px) {
    min-width: 250px;
  }
}

.dark-mode {
  .nonogram{
    background-color: $color-button-darkmode;
  }
}

.nonogram__container{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  min-width: 410px;
  aspect-ratio: 1 / 1;
  @media (width <= 500px) {
    min-width: 250px;
  }
}

.nonogram__clues-x-cont{
  grid-area: 1 / 2 / 2 / 3;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  .clues{
    display: flex;
    flex-direction: column;
    gap:3px;
    align-items: center;
    justify-content: end;
    padding-bottom: 10px;
    border-right: 1px solid $color-cell-dark;
    @media (width <= 450px) {
      gap:10px;      
    }
  }

  .clues:nth-child(5n + 5){
    border-right: 3px solid $color-cell-dark;
  }
  .clues:first-child{
    border-left: 3px solid $color-cell-dark;
  }
}

.nonogram__clues-y-cont{
  grid-area: 2 / 1 / 3 / 2;
  display: grid;
  grid-auto-rows: 1fr;
  grid-auto-flow: row;
  .clues{
    display: flex;
    gap:12px;
    align-items: center;
    justify-content: end;
    padding-right: 10px;
    border-bottom: 1px solid $color-cell-dark;
  }
  .clues:nth-child(5n + 5){
    border-bottom: 3px solid $color-cell-dark;
  }
  .clues:first-child{
    border-top: 3px solid $color-cell-dark;
  }
}

.nonogram__field-cont{
  grid-area: 2 / 2 / 3 / 3;
  display: grid;
  grid-auto-rows: 1fr;
  grid-auto-flow: row;
}

.nonogram__miniature-cont { 
  grid-area: 1 / 1 / 2 / 2;
  padding: 10px; 
  .modal__miniature {
    width: 100%;
  }
  .modal__miniature-cell.dark {
    background-color: $color-cell-dark;
  }
}

// .clue {
//   font-size: 14px;
// }

.row{
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  border-bottom: 1px $color-cell-dark solid;
}

.row:nth-child(5){
  border-bottom: 3px $color-cell-dark solid;
}

.cell{
  display: block;
  flex-grow: 1;
  background-color: transparent;
  outline: none;
  border-right: 1px $color-cell-dark solid;
}

.row:nth-child(5n + 5){
  border-bottom: 3px $color-cell-dark solid;
}

.row:first-child{
  border-top: 3px $color-cell-dark solid;
}

.cell:nth-child(5n + 5){
  border-right: 3px $color-cell-dark solid;
}

.cell:first-child{
  border-left: 3px $color-cell-dark solid;
}

.cell.black{
  background-color: $color-cell-dark;
}

.cell.cross{
  position: relative;
  &::after,
  &::before{
    content: '';
    width: 100%;
    height: 1px;
    background-color: $color-cell-dark;
    position: absolute;
    top:50%;
  }
  &::after{
    transform: rotate(45deg);
  }
  &::before{
    transform: rotate(-45deg);
  }
}

.disabled {
  pointer-events: none;
}

.clues{
  color: $color-cell-dark;
  font-size: 14px;
  @media (width <= 500px) {
    font-size: 14px;
    line-height: 14px;
  }
  @media (width <= 450px) {
    font-size: 12px;
    line-height: 12px;
  }
  @media (width <= 380px) {
    font-size: 11px;
    line-height: 10px;
  }
}

.clues.hovered,
.cell.hovered{
  @media (pointer:fine) and (hover:hover) {
    background-color: rgba($color: $color-cell-dark, $alpha: 0.1);
  }
}

.cell.black.hovered {
  @media (pointer:fine) and (hover:hover) {
    background-color: rgba($color: $color-cell-dark, $alpha: 0.9);
  }
}

.cell.completed {
  background-color: rgba($color: $color-cell-dark, $alpha: 0.05);
}

.cell.completed.black {
  background-color: $color-cell-dark;
}

.clues.completed{
  color: rgba($color: $color-cell-dark, $alpha: 0.5);
}

