@keyframes placeword {
  0% {
    transform: scale(1.05) translateY(5%);
  }
  100% {
    transform: scale(1) translateY(0%);
  }
}

.card {
  position: relative;
  flex-grow: 1;
  cursor: pointer;
  height: 100%;
  animation: placeword 0.15s ease-in;
  transition: 0.5s;
  outline: 0.2px solid var(--color-body-dark);
  border-radius: 3px;
  user-select: none;
}

.card__base,
.card__image,
.card__text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.card__text {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(0.1em);
}

.card__base {
  position: relative;
  background-color: var(--color-container);
  border-radius: 3px;
}

.card:hover {
  box-shadow: 0 0 3px rgba(255, 255, 255, 0.2);
  transform: scale(1.02);
  z-index: 3;
}
