@keyframes placeword {
  0% {
    transform: scale(1.05) translateY(5%);
  }
  100% {
    transform: scale(1) translateY(0%);
  }
}

.card {
  position: relative;
  flex-grow: 1;
  cursor: pointer;
  height: 100%;
  animation: placeword 0.15s ease-in;
  transition: 0.5s;
  border-radius: 3px;
  user-select: none;
}

.card__base,
.card__image,
.card__text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.card__image {
  opacity: 0;
  transition: 1s;
}

.card__text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 10px #000;
  transform: translateX(0.1em);
  text-shadow:
    1px 1px 2px black,
    0 0 1em black,
    0 0 0.2em black;
}

.card__base-rect {
  height: 100%;
  position: relative;
  background-color: var(--color-container);
  border-radius: 1px;
  border: 0.1px solid var(--color-body-dark);
  mask: radial-gradient(0.55em at 0.15em 50%, #0000 90%, #000);
  box-shadow: inset 0 0 4px rgba(255, 255, 255, 0.2);
}

.card__image-rect {
  height: 100%;
  position: relative;
  border-radius: 1px;
  border: 0.1px solid var(--color-body-dark);
  mask: radial-gradient(0.55em at 0.15em 50%, #0000 90%, #000);
  box-shadow: inset 0 0 4px rgba(29, 23, 23, 0.2);
}

.card__border-circle {
  position: absolute;
  width: 1em;
  height: 100%;
  border-radius: 50%;
  right: -1em;
  background: radial-gradient(
    0.7em at 0.15em 50%,
    transparent 70%,
    rgba(255, 255, 255, 0.1) 20%,
    rgba(0, 0, 0, 0.5) 30%,
    rgba(0, 0, 0, 0.3) 20%
  );
  top: 0;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
  mask: radial-gradient(0.6em at 0.15em 50%, #000 90%, transparent 100%);
}

.card:hover {
  transform: scale(1.02);
  z-index: 3;
}

.card__base-circle {
  width: calc(100%);
  margin-right: -0.7em;
  height: 100%;
  background-color: var(--color-container);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translate(0.75em);
}

.card__image-circle {
  width: calc(100%);
  margin-right: -0.7em;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translate(0.75em);
}

.card_start .card__base-rect,
.card_start .card__image-rect {
  height: 100%;
  mask: none;
}

.card_end .card__base-circle,
.card_end .card__image-circle {
  display: none;
}

.card_end .card__border-circle {
  opacity: 0;
}

.playboard__field .puzzle__sentence_correct .card__image {
  opacity: 1;
}

.playboard__field .puzzle__sentence_arranged .card__image {
  animation: fadein 0.3s ease-in forwards;
}

.playboard__field-show-image .puzzle__sentence_arranged .card__image {
  animation: none;
}

.playboard__field-show-image .card__image {
  opacity: 1;
}
