.circle-button, body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-feature-settings: "clig" off, "liga" off;
  font-style: normal;
}

.images-grid__container, .slider-item__wrapper, .slider-item, .slider__button-right,
.slider__button-left, .circle-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Reset styles */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #E1D4C9;
  text-size-adjust: 100%;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

div,
img,
p,
h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  border: none;
}

button,
input {
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

button {
  text-align: left;
  text-transform: none;
  appearance: none;
  background-color: transparent;
  font-family: inherit;
  color: inherit;
}
@media (hover: hover) and (pointer: fine) {
  button:hover {
    cursor: pointer;
  }
}
button:disabled {
  pointer-events: none;
  appearance: none;
  color: inherit;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: none;
}

form {
  padding: 0;
  margin: 0;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 40px;
}
@media (width <= 648px) {
  .wrapper {
    padding: 0px 16px;
  }
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url(../assets/fonts/inter-regular.woff2) format("woff2"), url(../assets/fonts/inter-regular.ttf) format("truetype"), url(../assets/fonts/inter-regular.otf) format("opentype");
}
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url(../assets/fonts/inter-semibold.woff2) format("woff2"), url(../assets/fonts/inter-semibold.ttf) format("truetype"), url(../assets/fonts/inter-semibold.otf) format("opentype");
}
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: italic;
  font-weight: 600;
  src: url(../assets/fonts/inter-semibolditalic.woff2) format("woff2"), url(../assets/fonts/inter-semibolditalic.ttf) format("truetype"), url(../assets/fonts/inter-semibolditalic.otf) format("opentype");
}
body {
  color: #403F3D;
}

h1 {
  font-size: 72px;
  font-weight: 600;
  line-height: 106%;
}
@media (width < 768px) {
  h1 {
    font-size: clamp(42px, 13.6px + 7.6vw, 72px);
  }
}
@media (width <= 550px) {
  h1 {
    font-size: 42px;
    line-height: 115%;
  }
}

h2 {
  font-size: 60px;
  font-weight: 600;
  line-height: 123%;
}
@media (width < 768px) {
  h2 {
    font-size: clamp(32px, -38.64px + 12.844vw, 60px);
  }
}
@media (width <= 550px) {
  h2 {
    font-size: 32px;
    line-height: 125%;
  }
}

.title-oblique {
  font-style: italic;
  color: #B0907A;
}

.main__paragraph {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

::selection {
  color: #0C0C0E;
  background: #B0907A;
}

.pill-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 64px;
  border-radius: 100px;
}

.circle-button {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.circle-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

/* Slider */
.slider {
  display: grid;
  grid-template-columns: 70px auto 70px;
  grid-template-rows: auto 5px;
  grid-column-gap: 0px;
  grid-row-gap: 40px;
}
@media (width <= 1024px) {
  .slider {
    grid-template-columns: 60px auto 60px;
  }
}
@media (width <= 648px) {
  .slider {
    grid-template-columns: 0px auto 0px;
  }
}

.slider__body {
  grid-area: 1/2/2/3;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.slider__button-left {
  grid-area: 1/1/2/2;
}

.slider__button-right {
  grid-area: 1/3/2/4;
}

.slider__button-right .circle-button,
.slider__button-left .circle-button {
  border: 1px #665F55 solid;
  transition: 0.5s;
}
.slider__button-right .circle-button svg,
.slider__button-left .circle-button svg {
  stroke: #665F55;
  transition: 0.5s;
}
@media (pointer: fine) and (hover: hover) {
  .slider__button-right .circle-button:hover,
  .slider__button-left .circle-button:hover {
    background-color: #665F55;
  }
  .slider__button-right .circle-button:hover svg,
  .slider__button-left .circle-button:hover svg {
    stroke: #C1B6AD;
  }
}
.slider__button-right .circle-button:active,
.slider__button-left .circle-button:active {
  background-color: #665F55;
}
.slider__button-right .circle-button:active svg,
.slider__button-left .circle-button:active svg {
  stroke: #C1B6AD;
}
@media (width <= 648px) {
  .slider__button-right,
  .slider__button-left {
    display: none;
  }
}

.slider__pagination {
  grid-area: 2/2/3/3;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.slider__pagination-bar {
  width: 40px;
  height: 4px;
  background-color: #C1B6AD;
  border-radius: 100px;
  overflow: hidden;
}

.slider__pagination-progress {
  height: 100%;
  background-color: #665F55;
  width: 0%;
}
.slider__pagination-progress-selected {
  width: 100%;
}

.slider__items-container {
  display: flex;
  justify-content: space-between;
}

.slider-item {
  width: calc(100vw - 160px - 120px);
  min-width: 1440px;
  flex-direction: column;
  align-items: center;
}

.slider-item__image {
  display: block;
  max-width: 480px;
}
@media (width <= 648px) {
  .slider-item__image {
    width: 100%;
  }
}

.slider-item__wrapper {
  flex-direction: column;
}
@media (width <= 648px) {
  .slider-item__wrapper {
    max-width: 480px;
    width: calc(100vw - 32px);
  }
}

.slider-item__title {
  max-width: 480px;
  margin-top: 21.5px;
  font-size: 24px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  line-height: 125%;
}

.slider-item__description {
  max-width: 480px;
  margin-top: 15px;
  font-size: 16px;
  text-align: center;
  font-weight: 400;
  line-height: 150%;
}

.slider-item__price {
  max-width: 480px;
  margin-top: 16px;
  font-size: 24px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  line-height: 125%;
}

/* Images grid */
.images-grid {
  width: 100%;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 40px;
}
@media (width <= 768px) {
  .images-grid {
    margin-top: 42px;
  }
}
@media (width < 648px) {
  .images-grid {
    margin-top: 40px;
  }
}

.images-grid__column {
  width: calc(50% - 20px);
  flex-shrink: 2;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media (width <= 768px) {
  .images-grid__column {
    width: 100%;
  }
}

.images-grid__container {
  overflow: hidden;
  border-radius: 20px;
  width: 100%;
  aspect-ratio: 66/59;
  max-width: 690px;
  margin: 0 auto;
}
@media (width <= 768px) {
  .images-grid__container {
    height: 590px;
    aspect-ratio: auto;
  }
}
.images-grid__container-small {
  aspect-ratio: 66/43;
}
@media (width <= 768px) {
  .images-grid__container-small {
    aspect-ratio: auto;
    height: 430px;
  }
}
@media (width <= 768px) {
  .images-grid__container-small {
    display: none;
  }
}
.images-grid__container img {
  transform: scale(1.1);
  transition: 0.5s;
  width: 100%;
}
@media (width < 1360px) {
  .images-grid__container img {
    transform: scale(1.05);
  }
}
@media (width <= 768px) {
  .images-grid__container img {
    transform: scale(1);
    width: 726px;
  }
}
@media (pointer: fine) and (hover: hover) {
  .images-grid__container:hover img {
    transform: scale(1);
  }
}
@media (pointer: fine) and (hover: hover) and (width <= 768px) {
  .images-grid__container:hover img {
    transform: scale(0.95);
  }
}
@media (pointer: fine) and (hover: hover) and (width < 648px) {
  .images-grid__container:hover img {
    transform: scale(0.9);
  }
}

/* Header */
.header {
  padding-top: 20px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  color: #403F3D;
}

.header__logo {
  width: 100px;
  height: 60px;
  background-image: url(../assets/header/logo.svg);
  background-size: contain;
}
.header__logo a {
  display: block;
  width: 100%;
  height: 100%;
}

.header__nav {
  display: flex;
  flex-grow: 2;
  height: 59px;
  align-items: center;
  padding-bottom: 5px;
  font-size: 16px;
}
@media (width <= 768px) {
  .header__nav {
    position: fixed;
    z-index: 3;
    top: 80px;
    left: 0;
    bottom: 0;
    right: 0;
    flex-direction: column;
    background-color: #E1D4C9;
    align-items: center;
    gap: 100px;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    opacity: 0;
    transition: 1s;
    font-size: 32px;
    line-height: 125%;
  }
}

.header__button {
  display: block;
  position: relative;
  height: 28px;
}
@media (width <= 768px) {
  .header__button {
    height: auto;
  }
}
@media (hover: hover) and (pointer: fine) {
  .header__button:hover {
    cursor: pointer;
  }
}
.header__button::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  transform: scaleX(0);
  opacity: 0;
  transition: 0.5s;
  height: 2px;
  background-color: #403F3D;
}
.header__button-active::after {
  transform: scaleX(100%);
  opacity: 1;
}
@media (pointer: fine) and (hover: hover) {
  .header__button:hover::after {
    transform: scaleX(100%);
    opacity: 1;
  }
}
.header__button-active {
  pointer-events: none;
}
.header__button:active {
  opacity: 0.7;
}

.header__button-menu span {
  display: block;
  width: 20px;
  height: 24px;
  background-image: url(../assets/icons/coffee-cup.svg);
  background-repeat: no-repeat;
}
@media (width <= 768px) {
  .header__button-menu span {
    width: 40px;
    height: 40px;
    background-size: contain;
  }
}

.header__navlinks {
  display: flex;
  justify-content: center;
  gap: 41px;
  flex-grow: 2;
  list-style: none;
}
@media (width <= 768px) {
  .header__navlinks {
    flex-direction: column;
    align-items: center;
    flex-grow: 0;
    gap: 60px;
    margin-top: 80px;
  }
}

.header__navlink {
  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
  height: 24px;
  font-weight: 600;
}
@media (width <= 768px) {
  .header__navlink {
    height: auto;
  }
}
@media (hover: hover) and (pointer: fine) {
  .header__navlink:hover {
    cursor: pointer;
  }
}
.header__navlink::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: scaleX(0) translateY(4px);
  opacity: 0;
  transition: 0.5s;
  height: 2px;
  background-color: #403F3D;
}
@media (pointer: fine) and (hover: hover) {
  .header__navlink:hover::after {
    transform: scaleX(100%) translateY(4px);
    opacity: 1;
  }
}
.header__navlink:active {
  opacity: 0.7;
}

.header__button-menu {
  display: flex;
  align-items: center;
  gap: 8.5px;
  font-size: inherit;
  font-weight: 600;
}
@media (width <= 768px) {
  .header__button-menu {
    gap: 16px;
  }
}

.header__burger-button {
  display: none;
}
@media (width <= 768px) {
  .header__burger-button {
    display: flex;
    width: 44px;
    height: 44px;
    align-self: center;
    border: 1px #665F55 solid;
    transition: 0.5s;
  }
}
@media (width <= 768px) and (pointer: fine) and (hover: hover) {
  .header__burger-button:hover {
    background-color: #665F55;
  }
  .header__burger-button:hover span span {
    background-color: #E1D4C9;
  }
}
@media (width <= 768px) {
  .header__burger-button:active {
    background-color: #665F55;
  }
  .header__burger-button:active span span {
    background-color: #E1D4C9;
  }
  .header__burger-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7.5px;
    min-height: 14px;
  }
  .header__burger-button-container span {
    width: 16px;
    height: 1.5px;
    background-color: #403F3D;
    transform-origin: center;
    transition: 0.5s;
  }
}
@media (width <= 768px) {
  .header__burger-button-active .header__burger-button-container {
    gap: 0px;
  }
  .header__burger-button-active .header__burger-button-container span:nth-child(1) {
    transform: rotate(45deg) translateY(50%);
    transform-origin: center bottom;
  }
  .header__burger-button-active .header__burger-button-container span:nth-child(2) {
    transform: rotate(-45deg) translateY(-50%);
    transform-origin: center top;
  }
}

.main__section-enjoy {
  padding: 100px;
  margin-top: 20px;
  color: #E1D4C9;
  border-radius: 40px;
  background-image: url(../assets/enjoy/img-hero.webp);
  background-size: cover;
  background-position: 50% 51%;
}
@media (width < 1024px) {
  .main__section-enjoy {
    padding: 100px 60px;
  }
}
@media (width < 500px) {
  .main__section-enjoy {
    padding: 60px 16px;
  }
}

.main__section-column {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 530px;
}

.menu-button {
  background-color: #E1D4C9;
  gap: 8px;
}
@media (hover: hover) and (pointer: fine) {
  .menu-button:hover {
    cursor: pointer;
  }
  .menu-button:hover .menu-button__text {
    transform: translateX(0px);
  }
  .menu-button:hover .menu-button__icon {
    opacity: 1;
  }
}

.menu-button__icon {
  width: 20px;
  height: 20px;
  background-image: url(../assets/icons/coffee-cup.svg);
  opacity: 0;
  transition: 0.5s;
}
@media (hover: none) {
  .menu-button__icon {
    opacity: 1;
  }
}

.menu-button__text {
  font-size: 16px;
  font-weight: 600;
  color: #403F3D;
  transform: translateX(14px);
  transition: 0.5s;
}
@media (hover: none) {
  .menu-button__text {
    transform: translateX(0px);
  }
}

/* Favourites section */
.main__section-favourites {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.main__section-favourites h2 {
  text-align: center;
}

.main__section-about h2 {
  line-height: 124%;
}

.section-app {
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (width < 1024px) {
  .section-app {
    gap: 100px;
    margin-top: -1px;
    flex-wrap: wrap;
  }
}
@media (width < 648px) {
  .section-app {
    gap: 40px;
  }
}

.section-app__info {
  padding-top: 2px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 630px;
}
@media (width <= 1024px) {
  .section-app__info {
    max-width: 800px;
    width: 100%;
  }
}
@media (width <= 648px) {
  .section-app__info {
    gap: 39px;
  }
}
.section-app__info p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-top: 1.5px;
}

@media (width < 1024px) {
  .section-app__image {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
.section-app__image img {
  max-width: 630px;
  width: 100%;
}

.section-app__buttons {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.pill-button-app {
  padding: 12px 20px;
  border: 1px #665F55 solid;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 7px;
  color: #403F3D;
  transition: 0.5s;
}
@media (pointer: fine) and (hover: hover) {
  .pill-button-app:hover {
    background-color: #665F55;
    color: #E1D4C9;
  }
  .pill-button-app:hover .pill-button-app__icon::after {
    opacity: 1;
  }
}
.pill-button-app:active {
  background-color: #665F55;
  color: #E1D4C9;
}
.pill-button-app:active .pill-button-app__icon::after {
  opacity: 1;
}

.pill-button-app__icon {
  position: relative;
  width: 36px;
  height: 36px;
}
.pill-button-app__icon-apple {
  background-image: url(../assets/icons/apple.svg);
}
.pill-button-app__icon-apple::after {
  background-image: url(../assets/icons/apple-hover.svg);
}
.pill-button-app__icon-google {
  background-image: url(../assets/icons/google.svg);
}
.pill-button-app__icon-google::after {
  background-image: url(../assets/icons/google-hover.svg);
}
.pill-button-app__icon::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.5s;
}

.pill-button-app__label {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.pill-button-app__text {
  font-size: 10px;
  font-weight: 600;
  line-height: 140%;
}

.pill-button-app__title {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

.footer {
  margin-bottom: 40px;
}

.footer__container {
  display: flex;
  align-items: center;
  gap: 100px;
  padding: 100px;
  margin-bottom: 40px;
  background-color: #665F55;
  border-radius: 40px;
}
@media (width < 1200px) {
  .footer__container {
    padding: 100px 60px 105px;
    flex-wrap: wrap;
  }
}
@media (width < 500px) {
  .footer__container {
    padding: 60px 16px 63px;
    gap: 38px;
  }
}

.footer__section {
  max-width: 530px;
  padding-top: 1px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: #E1D4C9;
  font-weight: 600;
  line-height: 150%;
  font-size: 16px;
}
.footer__section h3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}
.footer__section ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
}
.footer__section ul li {
  display: flex;
  align-items: center;
}
.footer__section ul li a {
  position: relative;
  display: flex;
  align-items: center;
  transition: 0.5s;
}
.footer__section ul li a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  transform: scaleX(0);
  opacity: 0;
  width: 100%;
  height: 2px;
  background-color: #E1D4C9;
  transition: 0.5s;
}
.footer__section ul li a:active {
  opacity: 0.7;
}
@media (pointer: fine) and (hover: hover) {
  .footer__section ul li a:hover::after {
    transform: scaleX(1);
    opacity: 1;
  }
}

.clock-icon,
.location-icon,
.phone-icon {
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 4px;
  width: 20px;
  height: 20px;
}

.location-icon {
  background-image: url(../assets/icons/pin-alt.svg);
}

.clock-icon {
  background-image: url(../assets/icons/clock.svg);
}

.phone-icon {
  background-image: url(../assets/icons/phone.svg);
}

.footer__social-buttons {
  display: flex;
  gap: 12px;
}
.footer__social-buttons .circle-button {
  border: 1px #E1D4C9 solid;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: 50% 50%;
}
.footer__social-buttons .circle-button-twitter {
  background-image: url(../../home/assets/icons/twitter.svg);
}
.footer__social-buttons .circle-button-twitter::after {
  background-image: url(../../home/assets/icons/twitter-hover.svg);
}
.footer__social-buttons .circle-button-instagram {
  background-image: url(../../home/assets/icons/instagram.svg);
}
.footer__social-buttons .circle-button-instagram::after {
  background-image: url(../../home/assets/icons/instagram-hover.svg);
}
.footer__social-buttons .circle-button-facebook {
  background-image: url(../../home/assets/icons/facebook.svg);
}
.footer__social-buttons .circle-button-facebook::after {
  background-image: url(../../home/assets/icons/facebook-hover.svg);
}
.footer__social-buttons .circle-button::after {
  background-color: #E1D4C9;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: 50% 50%;
  opacity: 0;
  transition: 0.5s;
}
@media (pointer: fine) and (hover: hover) {
  .footer__social-buttons .circle-button:hover {
    border-color: #E1D4C9;
  }
}
@media (pointer: fine) and (hover: hover) {
  .footer__social-buttons .circle-button:hover::after {
    opacity: 1;
  }
}
.footer__social-buttons .circle-button:active::after {
  opacity: 1;
}

/*# sourceMappingURL=home.css.map */
