.playboard {
  position: relative;
  padding: 10px 50px;
  border-radius: 30px;
  background-color: var(--color-container);
  max-width: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  animation: fadein 0.5s ease-in;
}

.playboard__header {
  padding: 5px 10px;
  display: flex;
  min-height: 40px;
  animation: fadein 0.3s ease-in;
  transition: 0.5s;
}

.playboard__hints {
  padding: 5px 10px;
  display: flex;
  min-height: 40px;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  background-color: rgba(31, 32, 65, 0.5);
  border-radius: 10px;
  animation: fadein 0.3s ease-in;
  transition: 0.5s;
}

.playboard__field {
  position: relative;
  background-color: var(--color-text-light);
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  animation: fadein 0.3s ease-in;
  transition: 0.5s;
}

.playboard__source-container {
  width: 100%;
  min-height: 40px;
  display: flex;
  animation: fadein 0.3s ease-in;
  transition: 0.5s;
}

.playboard__source-container .card {
  transform: scale(0.97);
}

.playboard__puzzle-container {
  width: 100%;
  background-size: 100% auto;
  border: 1px solid var(--color-container-grey);
  background-color: var(--color-container-grey);
  aspect-ratio: 9 / 5.5;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  animation: fadein 0.3s ease-in;
  transition: 0.5s;
}

.playboard__hints-torrlers {
  margin-left: auto;
  display: flex;
  gap: 10px;
}

.playboard__buttons {
  display: flex;
  align-items: center;
  gap: 10px;
  animation: fadein 0.3s ease-in;
}

.playboard__button {
  min-width: 140px;
  transition: 0.5s;
}

.puzzle__sentence {
  width: 100%;
  flex-grow: 1;
  display: flex;
  transition: 0.5s;
  animation: fadein 0.3s ease-in;
}
.puzzle__sentence_arranged,
.puzzle__sentence_correct {
  position: relative;
  pointer-events: none;
  filter: brightness(1.2);
}
.puzzle__sentence_arranged::before,
.puzzle__sentence_correct::before {
  position: absolute;
  content: "";
  top: 0;
  left: -45px;
  width: 1.2rem;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.puzzle__sentence_correct::before {
  background-image: url(../../../assets/icons/circle-check-solid.svg);
}
.puzzle__sentence_arranged::before {
  background-image: url(../../../assets/icons/circle-xmark-solid.svg);
}

.playboard__round-label {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 20px;
  padding: 7px;
  background-color: rgba(31, 32, 65, 0.5);
  border-radius: 10px;
}

.wordplace {
  transition: 0.5s;
}

.wordplace.highlight {
  background-color: rgba(255, 200, 87, 0.3);
  transition: 1s;
}

.placed {
  flex-grow: 0;
  transition: 0.5s;
}

.check-mode .placed.correct {
  box-shadow: 0 3px 5px var(--color-label-light);
}

.check-mode .placed.error {
  box-shadow: 0 3px 5px var(--color-text-red);
}

.hide {
  opacity: 0;
}

@media (width <= 620px) {
  .playboard {
    padding: 10px 10px 10px 30px;
  }
  .playboard__buttons {
    flex-wrap: wrap;
  }
  .playboard__button {
    width: 100%;
  }
  .puzzle__sentence_arranged::before,
  .puzzle__sentence_correct::before {
    top: 0;
    left: -34px;
    width: 0.9rem;
  }

  .playboard__source-container {
    min-height: 30px;
  }
}

@media (width <= 420px) {
  .playboard__source-container {
    min-height: 20px;
  }
  .playboard {
    font-size: 0.8rem;
  }
}
