.playboard__statistics-button {
  display: none;
  opacity: 0;
  transition: 1s;
  min-width: 140px;
}

.playboard__statistics-button_show {
  display: flex;
  opacity: 1;
  transition: 1s;
}

.playboard__statistics-button_hide {
  display: flex;
  opacity: 0;
  transition: 1s;
}

@media (width <= 620px) {
  .playboard__statistics-button {
    width: 100%;
  }
}
