.header {
  background-color: $color-body-dark;
}

.header__container {
  display: flex;
  align-items: center;
  gap:4px;
  width: 100%;
}

.header__logo {
  flex-grow: 1;
  color: $color-text-light;
  margin: 0px;
  font-size: 40px;
  line-height: 70px;
  letter-spacing: 2px;
  text-align: center;
  font-family: Montserrat;
  font-weight: 900;
  @media (width <= 768px) {
    font-size: 32px;
    line-height: 50px;
  }
}

.header__toggler{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-size: 90%;
  background-position: 70% 70%;
  background-image: url(../assets/volume.svg);
  filter: grayscale(2) brightness(5);
  border-radius: 50%;
  border: 2px $color-text-light solid;
  transition: 1s;
  &:hover {
    @media (pointer: fine) and (hover: hover) {
      filter: grayscale(0) brightness(1);
      border-color: $color-text-highlight;
    }
  }
  &_active {
    background-image: url(../assets/muted.svg);
  }
}

.header__info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  font-size: 20px;
  font-family: Inconsolata;
  color: $color-text-light;
  border-radius: 50%;
  border: 2px $color-text-light solid;
  transition: 1s;
  &:hover {
    @media (pointer: fine) and (hover: hover) {
      color: $color-text-highlight;
      border-color: $color-text-highlight;
    }
  }
}

