.statistics-page {
  position: relative;
  padding: 20px;
  border-radius: 30px;
  background-color: var(--color-container);
  max-width: 550px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  animation: fadein 0.5s ease-in;
}

.statistics-page__buttons {
  display: flex;
  padding: 10px;
  gap: 10px;
}

.statistics-page__header-title {
  margin: 0;
  padding: 10px;
}

.statistics-page__subtitle {
  position: relative;
  display: flex;
  width: fit-content;
  margin: 0 auto;
}

.statistics-page__results {
  max-height: 500px;
  overflow-y: auto;
}

.statistics-page__results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statistics-page__subtitle_known::before,
.statistics-page__subtitle_unknown::before {
  content: "";
  position: absolute;
  content: "";
  top: 0;
  left: -20px;
  width: 1.2rem;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.statistics-page__subtitle_known::before {
  background-image: url(../../../assets/icons/circle-check-solid.svg);
}
.statistics-page__subtitle_unknown::before {
  background-image: url(../../../assets/icons/circle-xmark-solid.svg);
}

.statistics-page__button {
  min-width: 140px;
}

.statistics-page__subtitle {
  margin: 0;
  padding: 10px;
  text-align: center;
}

.statistics-page__results-list {
  display: flex;
  list-style-type: none;
  list-style: none;
  flex-direction: column;
  margin: 0;
  padding: 10px;
  width: 100%;
  gap: 3px;
}

.statistics-page__results-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 7px;
  margin: 0;
  border: 1px solid var(--color-body-dark);
  border-radius: 10px;
  width: 100%;
}

.statistics-page__image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.statistics-page__image {
  max-width: 200px;
  border-radius: 10px;
}

.statistics-page__image-title,
.statistics-page__image-info {
  padding: 0;
  margin: 0;
}

.statistics-page__image-title {
  font-size: 0.9rem;
}

.statistics-page__image-info {
  font-size: 0.7rem;
}
