.chat__main {
  display: flex;
  background-color: var(--color-text-light);
  gap: 10px;
  border-radius: 10px;
  flex-basis: 400px;
  padding: 10px;
  align-items: stretch;
}

.chat__main-sidebar {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  padding: 10px;
  gap: 5px;
  margin: 0;
  height: 100%;
  max-height: 400px;
}

.chat__main-contacts {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  gap: 5px;
  margin: 0;
  padding: 0;
  padding-right: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  max-height: 350px;
}

.chat__main-chat {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  height: 100%;
  overflow-y: auto;
}

.chat__main-contacts-filter {
  position: relative;
  outline: none;
  border: transparent 1px solid;
  padding: 10px;
  width: 100%;
  max-width: calc(100% - 15px);
  display: block;
  border-radius: 10px;
  margin-right: 10px;
}

.chat__main-chat-placeholder {
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-container);
  margin: auto auto;
}

@media (width <= 600px) {
  .chat__main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    overflow: hidden;
    flex-basis: auto;
    padding: 5px;
  }

  .chat__main-sidebar {
    grid-area: 1 / 1 / 2 / 2;
    height: 100%;
    z-index: 5;
    background-color: var(--color-text-light);
    transform: translateX(-100%);
    transition: 0.2s;
  }
  .chat__main-sidebar_opened {
    transform: translateX(0%);
    transition: 0.2s;
  }

  .chat__main-chat {
    grid-area: 1 / 1 / 2 / 2;
    height: 100%;
  }

  .chat__header-buttons {
    flex-direction: column;
  }

  /* .chat__main-sidebar {
    position: fixed;
    background-color: var(--color-text-light);
    width: 100%;
    z-index: 3;
  } */
}
