.playboard__translation-hint {
  display: flex;
  opacity: 1;
  transition: 0.5s;
  user-select: none;
  font-size: 0.9rem;
}

.playboard__translation-hint_hide {
  opacity: 0;
}

.playboard__hint-label {
  margin: 0;
}

.playboard__hint-toggler-icon {
  height: 25px;
  fill: #fff;
}

.playboard__hint-translation-toggler {
  width: 30px;
  height: 30px;
}

@media (hover: hover) and (pointer: fine) {
  .playboard__hint-translation-toggler:hover .playboard__hint-toggler-icon {
    fill: var(--color-label-dark);
  }
}

.playboard__hint-translation-toggler_active .playboard__hint-toggler-icon {
  fill: var(--color-label-dark);
}

.playboard__hint-translation-toggler_active {
  background-color: var(--color-highlight);
}
