/* Images grid */
.images-grid{
  width:100%;
  display:flex;
  gap:40px;
  margin-top:40px;
 }

.images-grid__column{
  width: calc(50% - 20px);
  flex-shrink: 2;
  display:flex;
  flex-direction:column;
  gap:40px;
}

.images-grid__container{
  @extend %flex-center;
  overflow: hidden;
  border-radius: 20px;
  aspect-ratio: 66 / 59;
  &-small{
    aspect-ratio: 66 / 43;
  }
  img {
    transform: scale(1.1);
    transition: 0.5s;
    width: 100%;
  }
  &:hover{
    img{
      transform: scale(1);
    }
  }
}



