/* Images grid */
.images-grid{
  width:100%;
  display:flex;
  gap:40px;
  flex-wrap: wrap;
  margin-top:40px;
  
  @media (width<=768px) {
    margin-top: 42px;
  }
  @media (width<648px) {
    margin-top: 40px;
  }
 }

.images-grid__column{
  width: calc(50% - 20px);
  flex-shrink: 2;
  display:flex;
  flex-direction:column;
  gap:40px;
  @media (width <=768px) {
    width: 100%;
  }
}

.images-grid__container{
  @extend %flex-center;
  overflow: hidden;
  border-radius: 20px;
  width: 100%;
  aspect-ratio: 66 / 59;
 // height: 590px;
  max-width: 690px;
  margin: 0 auto;
  @media (width<=768px) {
    height: 590px;
    aspect-ratio: auto;
  }
  &-small{
    aspect-ratio: 66 / 43;
    //height: 430px;
    @media (width <=768px) {
      aspect-ratio: auto;
      height: 430px;
    }
    @media (width<=768px) {
      display: none;
    }
  }
  img {
    transform: scale(1.1);
    transition: 0.5s;
    width: 100%;
    @media (width<1360px) {
      //width: 726px;
      transform: scale(1.05);
    }
    @media (width <=768px){
        transform: scale(1);
        width: 726px;
    }
  }
  &:hover{
    @media (pointer:fine) and (hover:hover) {
      img{
        transform: scale(1);
        @media (width <=768px){
          transform: scale(0.95);
        }
        @media (width < 648px){
          transform: scale(0.9);
        }
      }
    }
  }
}



