  /* Slider */
  .slider{
    display: grid;
    grid-template-columns: 70px auto 70px;
    grid-template-rows: auto 5px;
    grid-column-gap: 0px;
    grid-row-gap: 40px;
    @media (width<=1024px) {
      grid-template-columns: 60px auto 60px;
    }
    @media (width<=648px){
      grid-template-columns: 0px auto 0px;
    }
  }
  
  .slider__body{
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }

  .slider__item{
    grid-area: 1 / 2 / 2 / 3;
    max-width:480px;
    height: 100%;
    width:100%;
    z-index: 1;
    margin:0 auto;
  }

  .slider__button-left{
    grid-area: 1 / 1 / 2 / 2;
  }
  .slider__button-right{
    grid-area: 1 / 3 / 2 / 4;
  }

  .slider__button-right,
  .slider__button-left{
    @extend %flex-center;
    .circle-button {
      border: 1px $color-border-dark solid;
      transition: 0.5s;
      svg{
        stroke : $color-border-dark;
        transition: 0.5s;
      }
      &:hover{
        @media (pointer:fine) and (hover:hover){
          background-color: $color-background-container;
          svg{
            stroke : $color-border-light;
          }
        }
      }
      // &:active{
      //   background-color: $color-background-container;
      //   svg{
      //     stroke : $color-border-light;
      //   }
      // }
    }
    @media (width<=648px){
      display: none;
    }
  }

  .slider__pagination{
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    justify-content: center;
    gap: 12px;
  }

  .slider__pagination-bar{
    width: 40px;
    height: 4px;
    background-color: $color-border-light;
    border-radius: 100px;
    overflow: hidden;
  }

  @keyframes load {
    0% {
      width:0%;
    }
    100% {
      width:100%;
    }
  }

  .slider__pagination-progress{
    height:100%;
    background-color: $color-border-dark;
    width: 0%;
    transition: 0.2s;
    transition-timing-function: linear;
    &-selected{
      animation: 7s linear static-an;   
      width: 100%;
      transition: 0.2s;
    }
  }

  .slider__items-container{
    display: flex;
    justify-content: space-between;
    transition: 1s;
  }
  
  .slider-item{
    width:calc(100vw - 160px - 120px);
    min-width: 1440px;
    @extend %flex-center;
    flex-direction: column;
    align-items: center;
    @media (width <= 1400px){
      min-width: 100vw;
    }
    user-select: none;
  }

  .slide{
    &-1 .slider__body .slider__items-container{
      transform: translateX(33.33%);
    }
    &-2 .slider__body .slider__items-container{
      transform: translateX(0);
    }
    &-3 .slider__body .slider__items-container{
      transform: translateX(-33.33%);
    }
  }

  .slider-item__image{
    display: block;
    max-width: 480px;
    pointer-events: none;
    @media (width<=648px){
      width: 100%;
    }
  }
  .slider-item__wrapper{
    @extend %flex-center;
    flex-direction: column;
    @media (width<=648px) {
      max-width: 480px;
      width: calc(100vw - 32px);
    }
  }

  .slider__item:hover ~ .slider__pagination .slider__pagination-bar .slider__pagination-progress-selected {
    @media (hover:hover) and (pointer:fine) {
    animation-play-state: paused;
    }
  }

  .slider-item__title{
    max-width: 480px;
    margin-top:21.5px;
    font-size: 24px;
    font-style: normal;
    text-align: center;
    font-weight: 600;
    line-height: 125%;
  }

  .paused{
    animation-play-state: paused;
  }

  .slider-item__description{
    max-width: 480px;
    margin-top: 15px;
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    line-height: 150%;
  }

  .slider-item__price{
    max-width: 480px;
    margin-top:16px;
    font-size: 24px;
    font-style: normal;
    text-align: center;
    font-weight: 600;
    line-height: 125%;
  }