.car {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
  padding: 10px;
  background-color: var(--color-container);
  border-radius: 10px;
}

.car__buttons {
  display: flex;
  gap: 10px;
}

.car__body {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

.car__image {
  position: absolute;
  left: 0;
  width: 150px;
  height: 55px;
  stroke: #000;
}

.car__controls {
  display: flex;
  align-items: start;
  gap: 10px;
}
.car__state-label {
  margin-left: auto;
  margin-right: 30px;
  color: var(--color-body-dark);
}

.car__track {
  position: relative;
  display: flex;
  height: 55px;
  flex-grow: 1;
  align-self: flex-end;
}

.car__road {
  width: 100%;
  height: 5px;
  background-color: var(--color-body-dark);
  border-radius: 10px;
}
.car__edit-button,
.car__delete-button,
.car__run-button,
.car__stop-button {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    width: 20px;
    height: 20px;
    fill: var(--color-body-dark);
  }
}

.car__finish {
  position: absolute;
  background-image: url(./../../../assets/car/finish.svg);
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  bottom: 0px;
  right: 0;
}

.car__finish-place {
  width: 170px;
}

@media (width <= 648px) {
  .car__finish-place {
    width: 100px;
  }

  .car__image {
    width: 100px;
    height: 40px;
  }
  .car__finish {
    width: 40px;
    height: 40px;
  }

  .car__track {
    height: 40px;
  }
}

@media (width < 420px) {
  .car__finish-place {
    width: 60px;
  }

  .car__image {
    width: 65px;
    height: 25px;
  }
  .car__finish {
    width: 20px;
    height: 20px;
  }

  .car__track {
    height: 25px;
  }

  .car__buttons,
  .car__controls {
    display: flex;
    gap: 5px;
  }
  .car {
    font-size: 14px;
  }
  .car__state-label {
    margin-right: 10px;
  }
}
