.main__section-menu{
  h1{
    max-width: 800px;
    margin: 0 auto;
    margin-top:20px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 60px;
    font-weight: 600;
    line-height: 123%;
  } 
}

.menu{
  display: flex;
  flex-direction: column;
  gap:40px;
  padding-bottom: 99px;
}

.menu__pagination{
  display:flex;
  justify-content: center;
  gap:16px;
}

.menu__content{
  display: flex;
  gap:40px;
  flex-wrap: wrap;
}

.menu-card{
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  max-width: 310px;
  min-height: 506px;
  border-radius: 40px;
  border: 1px $color-border-light solid;
  &:hover{
    @media (pointer:fine) and (hover:hover){
      cursor: pointer;
      .menu-card__image{
        img{
          transform: scale(1);
        }
      }
    }
  }
}

.menu-card__image{
  @extend %flex-center;
  overflow: hidden;
  width:100%;
  aspect-ratio: 1 / 1;
  border-radius: 40px;
  img{
    width: 310px;
    display: block;
    transform: scale(1.1);
    transition: 0.7s;
  }
}

.menu-card__price,
.menu-card__title{
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

.menu-card__title{
  margin-top: 20px;
}

.menu-card__description{
  margin-top: 12px;
}

.menu-card__price{
  margin-top:auto;
}

.menu-card__description{
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.1px;
}

.menu-card__price,
.menu-card__title,
.menu-card__description{
  max-width: 270px;
  margin-right: 20px;
  margin-left: 20px;
}

.menu__input{
  display: none;
}

.menu__tag{
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px 8px 8px;
  border: 1px $color-border-light solid;
  background-color: transparent;
  border-radius: 100px;
  color: $color-text-dark;
  transition: 0.5s;
  &-circle{
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $color-border-light;
    transition: 0.5s;
  }
  &:hover{
    background-color: $color-background-container;
    color: $color-text-light;
    border-color: transparent;
    cursor: pointer;
    .menu__tag-circle{
      background-color: $color-background-body;
    }
  }
}

#coffee:checked ~ .menu__pagination label[for="coffee"],
#tea:checked ~ .menu__pagination label[for="tea"],
#dessert:checked ~ .menu__pagination label[for="dessert"]{
  background-color: $color-background-container;
  color: $color-text-light;
  border-color: transparent;
  pointer-events: none;
  .menu__tag-circle{
    background-color: $color-background-body;
  }
}

label[for="coffee"]{
  .menu__tag-circle{
    background-image: url(../assets/icons/coffee.svg);
  }
}

label[for="tea"]{
  .menu__tag-circle{
    background-image: url(../assets/icons/tea.svg);
  }
}

label[for="dessert"]{
  .menu__tag-circle{
    background-image: url(../assets/icons/dessert.svg);
  }
}