.main__section-menu{
  h1{
    max-width: 800px;
    margin: 0 auto;
    margin-top:20px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 60px;
    font-weight: 600;
    line-height: 124%;
    @media (width < 768px) {
      font-size: clamp(32px, -38.64px + 12.844vw, 60px);
    }
    @media (width<=550px) {
      font-size:32px;
      line-height: 125%;
    }
    // @media (width<=648px) {
    //   font-size:32px;
    //   line-height: 125%;
    // }
  } 
}

.menu{
  display: flex;
  flex-direction: column;
  gap:41px;
  padding-bottom: 100.5px;
  @media (width<=768px) {
    gap:40px;
  }
}

.menu__pagination{
  display:flex;
  justify-content: center;
  gap:16px;
  @media (width<=648px) {
    gap:8px;
  }
}

.menu__refresh{
  display: none;
  @media (width <= 768px) {
    position: relative;
    display: block;
    margin: auto;
    border: 1px $color-border-dark solid;
    background-image: url(../assets/icons/refresh.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    &::after{
      background-color: $color-background-container;
      background-image: url(../assets/icons/refresh-hover.svg);;
      background-repeat: no-repeat;
      background-size: 24px 24px;
      background-position: 50% 50%;
      opacity: 0;
      transition: 0.5s;
    }
    &:hover{
      @media (pointer:fine) and (hover:hover) {
        border-color: $color-background-container;
      }
    }
    &:hover::after{
      @media (pointer:fine) and (hover:hover) {
        opacity: 1;
      }
    }
    // &:active::after{
    //   opacity: 1;
    // }
  }
}

.menu__content{
  display: grid;
  grid-template-columns: repeat(auto-fit,310px);
  grid-auto-rows: 509px;
  grid-column-gap: 39.5px;
  grid-row-gap: 38px;
  min-height: 1052px;
  justify-content: center;
  @media (width <= 768px) {
    grid-template-columns: repeat(2, minmax(310px,1fr));
    grid-column-gap: 40px;
    grid-row-gap: 39px;
    margin: 0 auto;
    .menu-card:nth-child(n + 5){
      display: none;
    }
  }
  @media (width <= 740px) {
    grid-template-columns: repeat(1, minmax(310px,1fr));
  }
  @media (width < 500px) {
    grid-row-gap: 39px;
  } 
}

.menu__content-extended{
  .menu-card:nth-child(n + 5){
    display: flex;
  }
}

.menu__content-extended ~ .menu__refresh{
  display: none;
}

.menu-card{
  padding-bottom: 18px;
  margin:0 auto;
  display: flex;
  flex-direction: column;
  max-width: 310px;
  min-height: 507px;
  border-radius: 40px;
  border: 1px $color-border-light solid;
  &-hidden{
    @media (width <=768px) {
      display: none;
    }
  }
  &:hover{
    @media (pointer:fine) and (hover:hover){
      cursor: pointer;
      .menu-card__image{
        img{
          transform: scale(1);
        }
      }
    }
  }
}

.menu-card__image{
  @extend %flex-center;
  overflow: hidden;
  width:100%;
  border-radius: 40px;
  img{
    width: 100%;
    display: block;
    transform: scale(1.1);
    transition: 0.7s;
  }
}

.menu-card__price,
.menu-card__title{
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

.menu-card__title{
  margin-top: 22px;
}

.menu-card__description{
  margin-top: 12px;
}

.menu-card__price{
  margin-top:auto;
}

.menu-card__description{
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.menu-card__price,
.menu-card__title,
.menu-card__description{
  max-width: 270px;
  margin-right: 19px;
  margin-left: 19px;
}

.menu__input{
  display: none;
}

.menu__tag{
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 7px 16px 7px 8px;
  border: 1px $color-border-light solid;
  background-color: transparent;
  border-radius: 100px;
  color: $color-text-dark;
  transition: 0.5s;
  font-weight: 600;
  &-circle{
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $color-border-light;
    transition: 0.5s;
  }
  &:hover{
    @media (pointer:fine) and (hover:hover) {
      background-color: $color-background-container;
      color: $color-text-light;
      border-color: transparent;
      cursor: pointer;
      .menu__tag-circle{
        background-color: $color-background-body;
      }
    }
  }
  // &:active{
  //   background-color: $color-background-container;
  //   color: $color-text-light;
  //   border-color: transparent;
  //   cursor: pointer;
  //   .menu__tag-circle{
  //     background-color: $color-background-body;
  //   }
  // }
}

#coffee:checked ~ .menu__pagination label[for="coffee"],
#tea:checked ~ .menu__pagination label[for="tea"],
#dessert:checked ~ .menu__pagination label[for="dessert"]{
  background-color: $color-background-container;
  color: $color-text-light;
  border-color: transparent;
  pointer-events: none;
  .menu__tag-circle{
    background-color: $color-background-body;
  }
}


// .menu__pagination label[for="coffee"]{
//   background-color: $color-background-container;
//   color: $color-text-light;
//   border-color: transparent;
//   pointer-events: none;
//   .menu__tag-circle{
//     background-color: $color-background-body;
//   }
// }

label[for="coffee"]{
  .menu__tag-circle{
    background-image: url(../assets/icons/coffee.svg);
  }
}

label[for="tea"]{
  .menu__tag-circle{
    background-image: url(../assets/icons/tea.svg);
  }
}

label[for="dessert"]{
  .menu__tag-circle{
    background-image: url(../assets/icons/dessert.svg);
  }
}